nav {
    align-items: center;
    background-color: #28293d;
    border-bottom: 3px solid #38394d;
    color: #aaa;
    display: flex;
    flex-direction: row-reverse;
    min-height: 2.5rem;
    padding: 0.5rem 1rem;
}