.hidden {
    display: none;
}

.panel{
    background-color: #28293d;
    border: 3px solid #38394d;
    font-size: medium;
    height: 93.2vh;
    position: absolute;
    right: 0;
    top: 4.5%;
    width: 15%;
}

.showed {
    display: initial;
}